@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url('../images/snake-background1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Indie flower', sans-serif;
}
/* Nav Bar and logo */
#logo {
    float:left;
    margin: 25px;
    font-family: 'Indie flower', sans-serif;
    padding-left: 15px;
}
#logo a{
    color: black;
    text-decoration: none;
}
#logo h1 {
    font-size: 3rem;
}
.nav-bar li {
    list-style-type: none;
    margin: 32px;
    float: right;
    padding-right: 12px;
    font-size: 3rem;
}
.nav-bar a{
    text-decoration: none;
    color: inherit;
}
.nav-bar a:hover{
    border-bottom: 1px solid rgb(7, 7, 7);
}
.navbar-nav {
    padding-top: 1%;
    float: right; 
}
#scoreBox{
    float: right;
    padding-top: 100px;
    font-family:'Indie flower', sans-serif;
    font-size: 45px;
    font-weight: 300;
}
#gameboard{
    height: 85vmin;
    width: 90vmin;
    background: linear-gradient(green, black);
    border: 2px solid white;
    position: absolute;
    top: 10%;
    left: 15%; 
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
}
.snake {
    border-radius: 20%;
    background-color: yellowgreen;
    z-index: 99;
}
.food{
    border-radius: 50%;
    background-color: red;
}
.button-pad{
    float: right;
    padding-top: 250px;
    font-family: 'Indie flower', sans-serif;
    font-size: 45px;
    font-weight: 300;
    /* border-radius: 25px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
   
}
.button-pad button{
    border-radius: 25px;
    width: 70px;
    background: yellowgreen;
}
/* Contact Us */ 
.box{
    padding-top: 120px;
}
.contact-form{
    padding-top: 5px;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    width: 11%;
}
.contact-form form{
    padding: 5%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 3%;
    margin-top: -5%;
    text-align: center;
    font-family: 'Indie flower', 'sans-serif'; 
    color: black;
    font-size: 50px;
}
.contact-form {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1%;
    background: white;
    font-weight: 600;
    color: black;
    cursor: pointer;
}
.form-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.btnContact{
    width: 60%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: yellowgreen;
    font-weight: 600;
    color: black;
    cursor: pointer;
}
/* Error Page */
#error-page{
    position: absolute;
    padding:10%;
}
#error-page img{
    width: 80%;
    height: 80%;
}
/* footer */
footer{
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 32px;
}
.s-links{
    text-align: center;
    margin: 7px;
}
.s-links a {
    color: black;
    font-size: 30px;
}

/* Responsive to different size Screen */
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width:280px){
    #logo{
        margin: 5px;
        padding-left: 5px;
        }
    #logo h1{
        font-size: 30px;
        }    
    .nav-bar li{
        font-size: 15px;
        margin: 2px;
        padding-top: 6px;
    }
    #scoreBox{
        float: none;
        padding-top: 50px;
        font-size: 20px;
        padding-left:5px;
        }
    #gameboard{
        top:13%;
        left:6%;
        }
    .button-pad{
        position: absolute;
        top: 29%;
        left: 25%;
        }
    footer{
        position: absolute;
        padding-left: 0;
        font-size: 15px;
        }
    .s-links a{
        font-size: 10px;
    }
}
@media only screen and (min-width:500px){
    .button-pad{
        display: inline;
        position: absolute;
        top: 48%;
        left: 20%;
        }

}
@media only screen and (min-width:600px){
    .logo{
        margin: 0;
        }
    #gameboard{
        position: absolute;
        top: 13%;
        left: 5%;
        }
    #scoreBox{
        float: none;
        font-size: 30px;
        padding-top: 35px;
        padding-left: 35px;
        }
    .button-pad{
        display: inline;
        position: absolute;
        top: 50%;
        left: 20%;
        }
    .s-links a{
        font-size: 16px;
        }
}
@media only screen and (min-width: 768px){
    #logo {
        margin: 10px;
        }
    #logo h1{
            font-size: 3rem;
        }
    .nav-bar li{
        font-size: 2rem;
    }
    .button-pad{
        display: inline;
        position: absolute;
        top: 65%;
        left:30%;
    }
    #scoreBox{
        font-size: 30px;
        float: right;
        padding-top: 80px;
    }
}
@media only screen and (max-width:1279px){

}
@media only screen and (min-width: 1280px){
    .button-pad{
        padding-right: 10%;
        position: relative;
    }
    #scoreBox{
        padding-right: 20%;
    }
    footer{
        padding-bottom: 5px;
    }
}
@media only screen and (min-width: 1601px){
    
}